.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500; 
  padding: 8px 16px; 
  text-transform: none !important;
  border-radius: 6px !important;
  background-color: rgb(235, 151, 73) !important; 
  color: white;
   box-shadow: none !important;
  /* transition: background-color 0.3s; */
  white-space: nowrap;
}

.custom-button:hover {
  background-color: rgb(247, 177, 79) !important; 
}

.custom-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0px rgba(235, 151, 73); 
}

.custom-button:disabled {
  pointer-events: none;
  opacity: 0.5; 
}

.nav-link {
  position: relative;
  color: #444;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #FFD600;
  transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active,.nav-link:hover {
  color: #FFD600;
}