.custom-button {
  text-transform: none !important;
  color: #ffffff !important;
  border-radius: 6px !important;
  background-color: rgb(235, 151, 73) !important;
  box-shadow: none !important;
  white-space: nowrap;
}

.custom-button:hover {
  background-color: rgb(247, 177, 79) !important;
}

.custom-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0px rgba(235, 151, 73);
}

.custom-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.custom-button-outline {
  text-transform: none !important;
  border-radius: 6px !important;
  border: 2px solid !important;
  white-space: nowrap;
}

.custom-button-outline:hover,
.custom-button-outline:focus {
  color: #f9f7f5 !important;
  background-color: rgb(187, 125, 37) !important;
}

.custom-button-badge {
  text-transform: none !important;
  border-radius: 20px !important;
  color: #f9f7f5 !important;

  background-color: #0f7815 !important;
  box-shadow: none !important;
  white-space: nowrap;
}

.custom-button-tags {
  text-transform: none !important;
  border-radius: 6px !important;
  border: 1px solid #dbd4d1 !important;
  background-color: #faefe1 !important;
  box-shadow: none !important;
  height: 26px !important;
  padding: 0px 8px !important;
  white-space: nowrap;
}

.custom-button-scroll-top {
  background-color: #1f2937;
  color: #9ca3af;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 0.2s, background 0.2s;
}

.nav-link {
  position: relative;
  color: #444;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #f19f41;
  transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link:hover {
  color: #f39419;
}

.footer-nav-link {
  color: #9b9a99;
  text-decoration: none;
  cursor: pointer;
}

.footer-nav-link:hover {
  color: #f9f7f5;
}

/* Toast container position */
.Toastify__toast-container {
  top: 1rem;
  right: 1rem;
  position: fixed;
  z-index: 9999;
}

/* Toast styles */
.Toastify__toast {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  padding: 16px;
}

/* Success toast */
.Toastify__toast--success {
  background-color: #f19f41;
  color: white;
}

/* Error toast */
.Toastify__toast--error {
  background-color: #f44336;
  color: white;
}

/* Close button */
.Toastify__close-button {
  color: white;
}

/* Progress bar */
.Toastify__progress-bar {
  background-color: #995406;
}

/* Hover effects */
.Toastify__toast:hover {
  opacity: 0.9;
}
